@import '../base/variables';
@import '../base/mixins';

.sectionContact {
  padding: 15rem 0;
  @include bg-gradient($orange-main, $orange-secondary);
}

.contactContainer {
  background-image: 
    linear-gradient(105deg, 
    rgba($white,.9) 0%, 
    rgba($white,.9) 50%, 
    transparent 50%), 
    url('../../assets/natours/nat-10.jpg');

  background-size: cover;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  height: 50rem;
}

.form {
  width: 50%;
  padding: 6rem;
}

.inputGroup {

}