@import '../base/mixins';
@import '../base/variables';

.sectionFeatures {
  padding: 20rem 0;
  @include image-gradient(
    $orange-main,
    $orange-secondary,
    '../../assets/natours/nat-4.jpg'
  );
  background-image: cover;

  transform: skewY(-7deg);

  //only direct childs (row in this case)
  & > * {
    transform: skewY(7deg);
  }
}
