@import '../base/variables';

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: #2699FB !important;
}


.navPoint {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 50px;
  display: inline-block;
  border-radius: 5px;
  //color: $white !important;

  &:hover {
    //background-color: $white;
    //color: $grey-main !important;
  }
}
