$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

.grid-container {
  display: flex;
  flex-direction: column;
  row-gap: $gutter-vertical;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  max-width: $grid-width;
  column-gap: $gutter-horizontal;
}

.col {
  flex-grow: 1;

  &25 {
    flex-basis: 25%;
  }

  &50 {
    flex-basis: 50%;
  }

  &75 {
    flex-basis: 75%;
  }

  &33 {
    flex-basis: calc(100% / 3);
  }

  &66 {
    flex-basis: calc((100% / 3) * 2);
  }
}
