//colors
$orange-main: #ffbf00;
$orange-secondary: #964000;
$orange-tertiary: #ef7215;

$green-main: #55c57a;
$green-secondary: #28b485;
$green-tertiary: #7ed56f;

$blue-main: #2998ff;
$blue-secondary: #5643fa;

$grey-main: #777;
$grey-secondary: #d3d3d3;
$grey-tertiary: #f7f7f7;

$white: #fff;
$black: #000;

$default-font-size: 1.6rem;
$default-border-radius: 1.5rem;
$default-box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
