
$amber-orange: #FFBF00;
$carrot-orange: #EF7215;
$burnt-orange: #964000;
$gray: #777;
$white: #fff;
$black: #000;


@mixin bg-gradient($imageUrl){
    background-image: linear-gradient(to right bottom, rgba($amber-orange, 0.8), rgba($burnt-orange, 0.8)), 
        url($imageUrl);
}
