@import '../base/variables';
@import '../base/mixins';

.featureBox {
  background-color: rgba($white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  transition: transform 0.2s;
  height: 33rem;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.icon {
  font-size: 6rem;
  @include text-gradient($orange-main, $orange-secondary);
}
