@import '../base/variables';
@import '../base/mixins';

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.originalButton {
    display: none;
}

.label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
}

.customButton {
    height: 3rem;
    width: 3rem;
    border: 5px solid $orange-main;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.5rem;

    &::after {
        content: "";
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $orange-tertiary;
        opacity: 0;
        transition: opacity .2s;
    }
}

.originalButton:checked ~ .label .customButton::after{
    opacity: 1;
}

