@import '../base/variables';
@import '../base/mixins';

.headingSecondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  @include text-gradient();

  &:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}
