@import '../base/variables';

.btn {
  &:link,
  &:visited {
    color: $orange-tertiary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $orange-tertiary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $orange-tertiary;
    color: $white;
    box-shadow: $default-box-shadow;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: $default-box-shadow;
    transform: translateY(0);
  }

  &White {
    background-color: $white;
    color: $grey-main;
  }
}
