@import '../base/variables';
@import '../base/mixins';

.btn {
  &:link,
  &:visited {
    color: $white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px;
    font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover,
  &:active {
    background-color: $white;
    color: $orange-tertiary;
    transform: scale(1.3);
  }

  &White {
    background-color: $white;
    color: $grey-main;
  }
}
