@use '../style/colors.scss' as *;

.home {
    background-color: $amber-orange;
}

.natours {
    color: $gray;

    .header {
        @include bg-gradient('../assets/natours/hero.jpg');
        width: 95vw;
        height: 95vh;
        background-size: cover;
        background-position: top;
        border-radius: 25px;
    }
}