@import '../base/variables';
@import '../base/mixins';
@import '../base/animations';

.home {
  background-color: $orange-main;
}

.natours {
  color: $grey-main;

  [class^='About_sectionAbout'] {
    margin-top: -20rem;
  }

  [class^='Feature_sectionFeatures'] {
    margin-top: -10rem;
  }

  [class^='Booking_sectionBooking'] {
    margin-top: -10rem;
  }
}
