@import '../base/variables';
@import '../base/mixins';
@import '../base/animations';

.home {
  background-color: $amber-orange;
}

.natours {
  color: $grey-dark-1;

  [class^="About_sectionAbout"] {
    margin-top: -20rem;
  }

  [class^="Feature_sectionFeatures"] {
    margin-top: -10rem;
  }

  [class^="Booking_sectionBooking"] {
    margin-top: -10rem;
  }

}
